<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<div class="card card-body darker hidden-md-up">
    <div class="darker">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form th:action="@{/login}" method="post" class="form">
                    <label>User Name: <input type="text" name="username" class="form-control"/></label><br>
                    <label>Password: <input type="password" name="password" class="form-control"/></label><br>
                    <input class="btn btn-primary" type="submit" value="Login"/>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>


